#mapa{
  width: 90%;
  height: 600px;
  margin: 0 auto;

}

main{
  display: flex;
  flex-direction: column;
}




.formSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.searchInput {
  width: 85%;
  margin-right: 10px;
}

.searchInput input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.businessMainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.businessContainer{
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  background-color: #f1f1f1;
  padding: 50px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  margin: 30px 0;

 
}

.businessCard{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.businessMainContainer > h1{
  font-size: 25px;
  font-weight: 200;
  margin-bottom: 20px;
}


.imageContainer{
  width: 80%;
  margin: 0 auto;
}
.imageContainer > img{
  width: 100%;
}

.tool-container{
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 999px;
  width: 85%;
 
  margin: 50px 0;
}

.tool-container > button{
  margin: 0 30px;
}