<div class="mainContainer">
  <div class="formContainer">
    <h1 class="title">Reestablecer Contraseña</h1>
    <form (submit)="resetPassword($event)" class="resetForm">
      <mat-form-field class="fieldContainer">
        <mat-label for="email">Correo Electrónico</mat-label>
        <input matInput type="email" id="email" name="email"  placeholder="user@example.com" required (change)="handleChange($event)">
      </mat-form-field>
      <button type="submit" mat-flat-button color="primary">Enviar</button>
    </form>
    @if (error) {
      <div class="error">
        <p class="errorText">Ocurrió un error, intenta de nuevo mas tarde :(</p>
      </div>
    }
  </div>
</div>
