.mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3715bd;
  background: linear-gradient(45deg, #ee52c2, #e73c7e, #3d58cd, #3715bd);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}


@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}


.formContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  background-color: #f8f8f8;
  border-radius: 50px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1{
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: 200;
}

.resetForm{
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}


.error{
  background-color: #e73c539e;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  padding: 5px 20px;
  margin: 5px 0;
}
.error > p{
  margin: 0;
}