<app-guest-header/>

<main class="myBusinessMain">
  <div class="myBusinessContainer">
    <h1 class="businessTitle">Mis Negocios</h1>
    <div class="tool-container">
      <a routerLink="/create-business"><button mat-fab color="accent" > <mat-icon>add</mat-icon></button></a>
      <button mat-stroked-button color="primary" (click)="mostrarArchivados()"> Lugares Archivados</button>
      <button mat-stroked-button color="primary" (click)="mostrarActivos()"> Lugares Activos</button>
    </div>
    <div class="businessContainer">
      @if (negociosArchivados.length > 0) {
        @for (negocio of negociosArchivados; track $index) {
          <div class="business-card">
            <div class="business-image-container">
              <img src={{negocio.imagenes[0]}} alt="imagen negocio">
            </div>
            <div>
  
              <h2 class="business-name">{{negocio.nombre}}</h2>
            <p class="business-body-item">{{negocio.estadoNegocio}}</p>
            <p class="business-body-item">Calificación promedio: {{negocio.calificacionPromedio}}</p>
            <p class="business-body-item">{{negocio.tipoNegocio}}</p>
            <a routerLink="/business-view/{{negocio.codigoNegocio}}">
              Ver negocio
            </a>
  
            </div>
            
            <div class="buttonContainer">
          
              <button mat-flat-button color="primary" (click)="desarchivarNegocio(negocio.codigoNegocio)">Republicar negocio</button>
              
              <a routerLink="/business-edit/{{negocio.codigoNegocio}}">
                <button mat-flat-button color="accent">Editar negocio</button>
              </a>
            </div>
            <button (click)="deleteBusiness(negocio.codigoNegocio)" mat-fab color="warn"><mat-icon>delete</mat-icon></button>
           
  
  
          </div>
        }
        


      }
      @if (negocios.length > 0) {
        @for (negocio of negocios; track $index) {
          <div class="business-card">
            <div class="business-image-container">
              <img src={{negocio.imagenes[0]}} alt="imagen negocio">
            </div>
            <div>
  
              <h2 class="business-name">{{negocio.nombre}}</h2>
            <p class="business-body-item">{{negocio.estadoNegocio}}</p>
            <p class="business-body-item">Calificación promedio: {{negocio.calificacionPromedio}}</p>
            <p class="business-body-item">{{negocio.tipoNegocio}}</p>
            <a routerLink="/business-view/{{negocio.codigoNegocio}}">
              Ver negocio
            </a>
  
            </div>
            
            <div class="buttonContainer">
          
              <button mat-flat-button color="primary" (click)="archivarNegocio(negocio.codigoNegocio)">Archivar negocio</button>
              
              <a routerLink="/business-edit/{{negocio.codigoNegocio}}">
                <button mat-flat-button color="accent">Editar negocio</button>
              </a>
            </div>
            <button (click)="deleteBusiness(negocio.codigoNegocio)" mat-fab color="warn"><mat-icon>delete</mat-icon></button>
           
  
  
          </div>
          
        }

      }
      
    </div>
  </div>

  
</main>

<app-footer/>
