<div class="mainContainer">
  <div class="formContainer">
    <h1 class="title">Reestablecer Contraseña</h1>
    <form (submit)="changePassword($event)" class="resetForm">
      <mat-form-field class="fieldContainer">
        <mat-label for="email">Correo Electrónico</mat-label>
        <input matInput type="email" id="email" name="email" [defaultValue]="this.user.email" disabled="">
      </mat-form-field>
      <mat-form-field class="fieldContainer">
        <mat-label for="email">Nueva contraseña</mat-label>
        <input matInput type="password" id="password" name="password"  required (change)="handlePassword($event)">
      </mat-form-field>
      <mat-form-field class="fieldContainer">
        <mat-label for="email">Confirmar Contraseña</mat-label>
        <input matInput type="password" id="password" name="password" required (change)="handleConfirmedPassword($event)">
      </mat-form-field>
      <button type="submit" mat-flat-button color="primary">Enviar</button>
    </form>
    @if (error) {
      <div class="error">
        <p class="errorText">las contraseñas no coinciden</p>
      </div>
    }
  </div>
</div>

