<app-header/>
<main class="BusinessViewMain">
  <div class="BusinessViewContainer"> 
    <div class="businessImgContainer">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          @for (item of negocio.imagenes; track $index) {
            <div class="carousel-item active">
              <img src={{item.link}} class="d-block w-100" alt="...">
            </div>

          }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="titleContainer">
      <h2>{{negocio.nombre}}</h2>
    </div>
    <div class="descripcionContainer">
      <p>{{negocio.descripcion}}</p>
      
    </div>
    <p>Publicado por: {{userName}}</p>
    <div class="locationContainer">
      <h3>Ubicación</h3>
      <div id="mapa"></div>
    </div>
    <div class="scheduleContainer">
      <h3>Horario</h3>
      <div class="fab-container">
        @for (item of negocio.horarios; track $index) {
          <div class="item-container">
            <p>{{item.dia}}</p>
            <p>{{item.horaApertura}} - {{item.horaCierre}}</p>
          </div>

        }
      </div>
      
      
    </div>
    <div class="phoneContainer">
      <h3>Telefonos</h3>
      <div class="fab-container">
        @for (item of negocio.telefonos; track $index) {
          <div class="item-container">
            <p>{{item}}</p>
          </div>

        }
      </div>
    </div>

  </div>
</main>
<app-footer/>